@import url("styles/header.css");
@import url("styles/nabber.css");

:root{ --cor-de-fundo: #EBECEE;
    --branco: #FFFFF
    --laranja: #EB9B00;

    --fonte-principal:"poppins"}

body{ background-color: var(--cor-de-fundo);

    font-family; var(--fonte-pricipal);
    font-size: 16px;
    font-weight: 400;}